**1-Say "Hello, World!"**

In [ ]:
my_srting = "Hello, World!"
print( my_srting)

Hello, World!

**2-Python If-Else**

In [ ]:


import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())

    if n % 2 == 1:
        print("Weird")
    else:
        if 2 <= n <= 5:
            print("Not Weird")
        elif 6 <= n <= 20:
            print("Weird")
        else:  # n > 20
            print("Not Weird")

3
Weird

# **3- Arithmetic Operators**

In [ ]:
a = int(input())
b = int(input())

print(f"\n{a+b}")
print(f"\n{a-b}")
print(f"\n{a*b}")

3
2

5

1

6

**4-Division**

In [ ]:
a = int(input())
b = int(input())

print(f"{a//b}")
print(f"{a/b}")

4
3
1
1.3333333333333333

**5-Loops**

In [ ]:
n = int(input())
for i in range(n):
  print(f"{i*i}")

5
0
1
4
9
16

**6-Write a function**

In [ ]:
def is_leap(year):
    if year % 400 == 0:
        return True
    if year % 100 == 0:
        return False
    if year % 4 == 0:
        return True
    return False


year = int(input())
print(is_leap(year))

1995
False

**7-Print Function**

In [ ]:
n = int(input())

for i in range(1, n+1):
    print(i, end="")

5
12345

**8-List Comprehensions**

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    result = [[i, j, k]
              for i in range(x+1)
              for j in range(y+1)
              for k in range(z+1)
              if i + j + k != n]

    print(result)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

**9-Nested Lists**

In [ ]:
if __name__ == '__main__':
    students = []

    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])

    scores = sorted({score for name, score in students})
    second_lowest = scores[1]


    names = [name for name, score in students if score == second_lowest]
    names.sort()


    for name in names:
        print(name)

2
manal
40
shahd
41.5
shahd

**10-Finding the percentage**

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}

    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores

    query_name = input()


    marks = student_marks[query_name]
    average = sum(marks) / len(marks)


    print(f"{average:.2f}")

3
manal 70 80 77
shahd 75 80 67
mona 70 55 88
manal
75.67

**11-String Split and Join**

In [ ]:


def split_and_join(line):

    words = line.split(" ")

    return "-".join(words)

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

this is a string
this-is-a-string

**12-Lists**

In [ ]:
if __name__ == '__main__':
    N = int(input())
    lst = []

    for _ in range(N):
        command = input().split()

        if command[0] == "insert":
            lst.insert(int(command[1]), int(command[2]))

        elif command[0] == "print":
            print(lst)

        elif command[0] == "remove":
            lst.remove(int(command[1]))

        elif command[0] == "append":
            lst.append(int(command[1]))

        elif command[0] == "sort":
            lst.sort()

        elif command[0] == "pop":
            lst.pop()

        elif command[0] == "reverse":
            lst.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

**Find the Runner-Up Score!**

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    unique_scores = list(set(arr))
    unique_scores.sort()

    print(unique_scores[-2])

5
3 5 4 6 6
5

**# sWAP cASE**

In [ ]:
def swap_case(s):
    result = ""
    for char in s:
        if char.isupper():
            result += char.lower()
        elif char.islower():
            result += char.upper()
        else:
            result += char
    return result

if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

HackerRank.com presents "Pythonist 2"
hACKERrANK.COM PRESENTS "pYTHONIST 2"

What's Your Name?
**bold text**

In [ ]:
def print_full_name(first, last):
    print(f"Hello {first} {last}! You just delved into python.")

if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

manal
mahmoud
Hello manal  mahmoud ! You just delved into python.

**Mutations**

In [ ]:
def mutate_string(string, position, character):
    return string[:position] + character + string[position+1:]

if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

abracadabra
5 k
abrackdabra

Find a string

In [ ]:
def count_substring(string, sub_string):
    count = 0
    for i in range(len(string) - len(sub_string) + 1):
        if string[i:i+len(sub_string)] == sub_string:
            count += 1
    return count


if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()

    print(count_substring(string, sub_string))

ABCDCDC
CDC
2

String Validators

In [ ]:
if __name__ == '__main__':
    s = input()
    print(any(c.isalnum() for c in s))
    print(any(c.isalpha() for c in s))
    print(any(c.isdigit() for c in s))
    print(any(c.islower() for c in s))
    print(any(c.isupper() for c in s))

qA2
True
True
True
True
True

Text Wrap

In [ ]:
def wrap(string, max_width):
    result = ""
    for i in range(0, len(string), max_width):
        result += string[i:i+max_width] + "\n"
    return result.strip()

if __name__ == '__main__':
    string = input()
    max_width = int(input())
    print(wrap(string, max_width))

ABCDEFGHIJKLIMNOQRSTUVWXYZ
4
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

String Formatting

In [ ]:
def print_formatted(number):
    width = len(bin(number)) - 2

    for i in range(1, number + 1):
        dec = str(i).rjust(width)
        octal = oct(i)[2:].rjust(width)
        hexa = hex(i)[2:].upper().rjust(width)
        binary = bin(i)[2:].rjust(width)

        print(dec, octal, hexa, binary)

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

2
 1  1  1  1
 2  2  2 10

Symmetric Difference

In [ ]:

m = int(input())

a = set(map(int, input().split()))


n = int(input())

b = set(map(int, input().split()))


diff = a.symmetric_difference(b)


for num in sorted(diff):
    print(num)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

No Idea!

In [ ]:

n, m = map(int, input().split())

arr = list(map(int, input().split()))

A = set(map(int, input().split()))
B = set(map(int, input().split()))

happiness = 0

for x in arr:
    if x in A:
        happiness += 1
    elif x in B:
        happiness -= 1

print(happiness)

3 2
1 5 3
3 1
5 7
1

**Set .add()**

In [ ]:
n = int(input())
countries = set()

for _ in range(n):
    countries.add(input().strip())

print(len(countries))

5
manal
mahmoud
ramadan
manal
mahmoud
3

**Set .discard(), .remove() & .pop()**

In [ ]:
n = int(input())
s = set(map(int, input().split()))

m = int(input())

for _ in range(m):
    command = input().split()

    if command[0] == "pop":
        s.pop()

    elif command[0] == "remove":
        s.remove(int(command[1]))

    elif command[0] == "discard":
        s.discard(int(command[1]))

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

**itertools.permutations()**

In [1]:
from itertools import permutations

s, k = input().split()
k = int(k)

s = sorted(s)

for p in permutations(s, k):
    print(''.join(p))

HACK 2
AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

**itertools.combinations()**

In [2]:
from itertools import combinations

s, k = input().split()
k = int(k)
s = sorted(s)

for i in range(1, k + 1):
    for c in combinations(s, i):
        print(''.join(c))

HACK 2
A
C
H
K
AC
AH
AK
CH
CK
HK

**itertools.combinations_with_replacement()**

In [3]:
from itertools import combinations_with_replacement
s, k = input().split()
k = int(k)
s = sorted(s)
for c in combinations_with_replacement(s, k):
    print(''.join(c))

HACK 2
AA
AC
AH
AK
CC
CH
CK
HH
HK
KK

Compress the String!

In [4]:
from itertools import groupby

s = input()

for key, group in groupby(s):
    print((len(list(group)), int(key)), end=' ')

1222311
(1, 1) (3, 2) (1, 3) (2, 1)

Word Order

In [5]:
n = int(input())

count = {}

for _ in range(n):
    word = input().strip()
    if word in count:
        count[word] += 1
    else:
        count[word] = 1

print(len(count))


print(*count.values())

4
bcdef
abcdefg
bcde
bcdef
3
2 1 1

Collections.deque()

In [6]:
from collections import deque

d = deque()

n = int(input())

for _ in range(n):
    command = input().split()

    if command[0] == 'append':
        d.append(command[1])
    elif command[0] == 'appendleft':
        d.appendleft(command[1])
    elif command[0] == 'pop':
        d.pop()
    elif command[0] == 'popleft':
        d.popleft()

print(*d)

6
append 1
append 2
append 3
appendleft 4
pop
popleft
1 2